* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #5f5f79;
    /* background: linear-gradient(#e66465, #9198e5); */
    /* background: linear-gradient(rgba(65,59,93,1) 27%, rgba(47,49,61,1) 75%); */
    background: rgb(48, 53, 66);
    color: #c0c0c4;
}
button {
    font-family: 'Poppins', sans-serif;
}
html,
body {
  min-height: 100%;
  margin-bottom: 50px;
}
header {
    display: flex;
    width: 100%;
    margin: auto;
    height: 4vh;
    align-items: center;
    /* background-color: #5f5f79; */
    background: rgb(31, 35, 44)
}
hr {
    width: 45%;
    margin: auto;
}
.logo-container, .nav-links, .cart {
    margin-right: 150px;
    display: flex;
}
.logo-container {
    /* flex: 1; */
}
.logo {
    font-weight: 400;
    margin: 5px;
}
nav {
    flex: 2;
    padding-left: 10%;
}
.nav-links {
    justify-content: left;
    list-style: none;
}
.nav-links a {
    font-size: 18px;
    text-decoration: none;
    margin-right: 40px;
    color: #c0c0c4;
}

.navigation {
    margin-left: 10vh;
    overflow: hidden;
}
.cart {
    flex: 1;
    justify-content: flex-end;
}
.presentation {
    display: flex;
    width: 40%;
    margin: auto;
    min-height: 50vh;
    align-items: center;
}
.introduction {
    flex: 1;
    margin-right: 50px;
}
.intro-text h1 {
    font-size: 44px;
    font-weight: 500;
}
.intro-text p {
    margin-top: 5px;
    font-size: 22px;
}
.cta {
    padding: 10px 0px 0px 0px;
}
.cta-select {
    border: none;
    background: rgb(62, 63, 63);
    color: #c0c0c4;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;   
    box-shadow: 2px 2px black;
}
.cta-add {
    border: none;
    background: rgb(62, 63, 63);
    color: #c0c0c4;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    margin: 15px 0px 0px 15px;
    box-shadow: 2px 2px black;
}
.cover img {
    height: 30vh;   
    filter: drop-shadow(0px 5px 3px black);
    border-radius: 50%;
}
.contactSection {
    /* display: flex; */
    width: 40%;
    margin: auto;
    align-items: center;
}
.contactInfo {
    margin-top: 10px;
}
.contactInfo-list-items {
    list-style: none;
}
.projects {
    /* width: 40%; */
    margin: auto;
    display: flex;
    /* background: black; */
    margin-top: 50px;
}
h2 {
    font-weight: 500;
}
.resume-div {
    /* margin-left: 35%; */
}
.resume-div img {
    width: 768px;
    margin-top: 40px;
}

.projects-section {
    /* display: flex; */
    /* background: black; */
    width: 40%;
    margin: auto;
}

.projects-section img {
    width: 240px;
    height: 185px;
}

.gotbias img {
    margin-left: 40px;
}

.stryker:hover {
    transform: scale(1.1);
}
.stryker {
    transition-duration: 400ms;
}
.gotbias:hover {
    transform: scale(1.1);
}
.gotbias {
    transition-duration: 400ms;
}
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .resume-page {
      display: flex;
      align-items: center;
      margin: auto;
      /* background: red; */
      flex-direction: column;
      margin-top: 40px;
  }
  .button-download-resume {
    border: none;
    background: rgb(62, 63, 63);
    background-color: #5f5f79;
    color: #c0c0c4;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;   
    box-shadow: 2px 2px black;
    transition-duration: 400ms;
    
}

.button-download-resume:hover {
    transform: scale(1.1);
}